# =====================
# Entorno / secretos
# =====================
.env

# =====================
# macOS
# =====================
.DS_Store
.AppleDouble
.LSOverride

# =====================
# Linux
# =====================
*~
.nfs*

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# =====================
# Logs / temporales
# =====================
*.log

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Bases de datos locales
# =====================
*.sqlite3
*.db

# =====================
# Editor temp files
# =====================
*.swp
*.swo
